@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./navbar.css";
@import "./header.css";
@import "./hero.css";
@import "./about.css";
@import "./skills.css";
@import "./work.css";
@import "./footer.css";

/* sans */
@font-face {
  font-family: "Sans";
  src: url("./assets/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Sans";
  src: url("./assets/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sans";
  src: url("./assets/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Sans";
  src: url("./assets/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* brand */
@font-face {
  font-family: "Brand";
  src: url("./assets/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Brand";
  src: url("./assets/Lora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Brand";
  src: url("./assets/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

@layer components {
  .text {
    &__body {
      @apply font-sans text-base font-normal leading-7;
    }
    &__body-xs {
      @apply font-sans text-xs font-normal leading-7;
    }
    &__body-sm {
      @apply font-sans text-sm font-normal;
    }
    &__body-lg {
      @apply font-sans text-lg font-normal;
    }
    &__body-xl {
      @apply font-sans text-xl font-normal leading-8;
    }
    &__body-2xl {
      @apply font-sans text-2xl font-normal leading-8;
    }
    &__body-3xl {
      @apply font-sans text-3xl font-bold leading-8;
    }

    &__body-over {
      @apply font-sans text-3xl font-bold leading-8 uppercase;
    }

    &__title-xs {
      @apply font-brand text-base font-medium;
      &.bold {
        @apply font-bold;
      }
    }
    &__title-sm {
      @apply font-brand text-xl font-medium;
      &.bold {
        @apply font-bold;
      }
    }
    &__title {
      @apply font-brand text-2xl font-medium;
      &.bold {
        @apply font-bold;
      }
    }
    &__title-md {
      @apply font-brand text-2xl font-medium;
    }
    &__title-lg {
      @apply font-brand text-3xl font-medium;
    }
    &__title-xl {
      @apply font-brand text-4xl font-bold;
    }
    &__title-2xl {
      @apply font-brand text-5xl font-bold;
    }
    &__title-3xl {
      @apply font-brand text-6xl font-bold;
    }
  }

  .ap-container {
    @apply px-10 sm:px-12 md:px-16 2xl:px-20 xl:mx-auto xl:container;
  }

  .ap-bar {
    @apply bg-primary-300 h-10 w-[3px];
    &.stretched {
      @apply h-full self-stretch;
    }
    &.short {
      @apply h-6;
    }
    /* &.light {
      @apply bg-primary-200;
    } */
  }

  button,
  a,
  a:link {
    @apply w-fit;
  }

  .btn-primary {
    @apply bg-primary-500 text__body text-gs-50 px-5 py-3 flex items-center justify-center gap-2 rounded hover:bg-primary-600;
  }

  .btn-primary-sm {
    @apply bg-primary-500 text__body-sm text-gs-50 px-3 py-1.5 flex items-center justify-center gap-1 rounded-sm hover:bg-primary-600;
  }

  .btn-bones {
    @apply bg-transparent text-inherit flex items-center justify-center gap-2;
  }

  .btn-primary-lg {
    @apply bg-primary-500 text__body-lg text-gs-50 px-6 py-4 flex items-center justify-center gap-3 rounded hover:bg-primary-600;
  }
  .btn-accent-lg {
    @apply bg-accent-100 text__body-lg text-gs-800 px-6 py-4 flex items-center justify-center gap-3 rounded hover:bg-slate-300;
  }
  .btn-chip {
    @apply min-w-[130px] bg-accent-100 hover:bg-slate-300 text__body-lg text-gs-800 px-6 py-4 flex items-center justify-center gap-3 rounded-full ;
    &.dark {
      @apply bg-slate-700 hover:bg-slate-600 text__body-lg text-gs-50;
    }
  }
}

body {
  @apply font-sans;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
  &.sm {
    font-size: 20px;
  }
  &.xs {
    font-size: 18px;
  }
  &.md {
    font-size: 26px;
  }
  &.lg {
    font-size: 28px;
  }
  &.xl {
    font-size: 32px;
  }
  &.jumbo {
    font-size: 48px;
  }
}
html{scroll-behavior:smooth}

.slick-slider {
  overflow: hidden;
  .slick-slide > div {
    line-height: 0;
  }
}

.slick-slider .slick-track {
  display: flex;
}


.main {
  @apply flex flex-col items-stretch overflow-hidden;
}

.section {
  @apply py-40 xl:py-56 relative;
  &__underlay,
  &__underlay2 {
    @apply absolute top-0 left-0 z-[-1] w-full h-full;
  }
  &__underlay {
    @apply bg-secondary-200;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 60% 100%, 0 80%);
  }
  &__underlay2 {
    @apply bg-primary-200;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 40% 100%, 0 80%);
  }
}

.section-container {
  @apply ap-container;
}

.section-heading {
  @apply flex items-center gap-5;
  &__title {
    @apply text__title-xl text-gs-700;
    @screen lg {
      @apply text__title-2xl;
    }
  }
  &.light {
    .section-heading__title {
      @apply text-gs-200;
    }
  }
}






